<%= render @round %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center bg-success text-white">
          <h2>Scorecard</h2>
        </div>
        <div class="card-body">
          <%= form_for @round, html: { id: 'round-form' } do |f| %>
            <div id="holes-container">
              <% @round.holes.each do |hole| %>
                <div class="form-group row mb-3">
                  <%= f.fields_for :holes, hole do |hole_form| %>
                    <label class="col-sm-3 col-form-label align-self-center">Hole <%= hole.number %></label>
                    <div class="col-sm-4 d-flex align-items-center">
                      <%= hole_form.number_field :score, class: 'form-control custom-height', placeholder: 'Enter score' %>
                    </div>
                    <%= hole_form.hidden_field :id %>
                    <% if hole_form.object.score.present? %>
                      <p class="col-sm-5 pt-2 align-self-center">Score: <%= hole_form.object.score %></p>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>

            <%= f.submit "Update Scores", class: 'btn btn-success btn-block', id: 'update-scores-button', remote: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
